body{
    background-color: #5cdb95;
}
fieldset {
    border: none;
}
#hidden-form{
    
    margin-left: 15%;
    margin-right: 15%;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    background-color: #05396b;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    
    /* display: none; */
}
#scoreDescription{
    display: flex;
   border-left: none;
   border-right: none;
   border-top-style:solid;
   border-bottom-style: solid;
   border-color: #43a36e;
   
}
#container {
    flex:1;
    color: #05396b;
    font-family: monaco, monospace;
    text-align: center;
    
    
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    

}
.selectDiv{
    background-color: #5cdb95;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    color: #05396b;
    font-family: monaco, monospace;
    
}
.time{
    padding: 10px;
    margin: 10px;
    font-size: x-large;
    background-color: #05396b;
    border-radius: 12px;
    border: none;
    color: #5cdb95;
   

}
.header{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: monaco, monospace;

}
#title{
    color: white;
    
}
#description{
    color: white;
}
#overnight{
    display: flex;
    border-bottom-style: solid;
    border-color: #43a36e;
align-items: baseline;

}

select{
    background-color: #5cdb95;
    border: none;
    font-size: large;
    font-family: monaco, monospace;
}
#submitDiv{
    background-color: #05396b;
}
#submit{
    background-color: #5cdb95;
    align-self: center;
    font-family: monaco, monospace;
    padding: 10px;
    font-size: large;
border: none;
border-radius: 10px;
}